name: Fetch ASN China List

on:
  schedule:
    - cron: '23 14 * * *'  # 每天UTC时间0点运行一次
  push:
    branches:
      - main  # 当推送到main分支时运行
    paths:
      - py/asn-cn-scraper.py  # 仅当 py/asn-cn-scraper.py 文件更新时运行
  workflow_dispatch:  # 手动触发

jobs:
  fetch_asn_china_list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyppeteer beautifulsoup4

      - name: Run Python scripts
        run: python py/cn-asn-scraper.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Fetch ASN China List"
