name: Update ChatGPT Supported Countries

on:
  schedule:
    - cron: '0 0 * * 1' # 每周一运行一次
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Scraper
      run: python py/scrape_chatgpt_countries.py

    - name: Commit and push if changed
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add lists/GPT_supported_countries.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update supported countries list" && git push)
